.navbar {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
    height: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-links a:hover {
  background-color:black;
}
